body {
    margin:0px; 
    padding:0px;
}

#screen {
  width: 100vw; height: 100vh;
  background: black;
  display: flex;
  flex-wrap: wrap;
  i {
    display: block;
    width: 10vw; height: 10vh;
  }
}

.color {
    width: 200px;
    height: 200px;
    border-radius: 100000px;
}

.container {
    display: flex;
    justify-content: space-around;
    &-el {
        max-width: 400px;
    }
}